[submodule "startpage"]
	path = startpage
	url = https://github.com/jso8910/startpage
	branch = main

[submodule "draculaQute"]
    path = .config/qutebrowser/dracula
    url = https://github.com/jso8910/dracula
    branch = master
[submodule "/home/jason/.config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
    branch = master
